* {
    margin: 0;
    padding: 0;
    user-select: none;
}

.container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: url(./assets/bg_01.jpg);
    background-position: center;
    background-size: cover;
    display: grid;
    place-items: center;
    grid-auto-flow: column;
    z-index: 0;
    overflow: hidden;
}

.box {
    width: 15vw;
    height: 15vw;
    border-radius: 20px;
    background-color: azure;
    opacity: 0.5;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 10vw;
    border: 1px dashed black;
    box-shadow: 10px 20px 30px #000;
}

span {
    font-size: 12vw;
    color: #888; 
}


.snow {
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    animation: snowFall 10s linear;
    z-index: 5;
}

@keyframes snowFall {
    0% {
        opacity: 1;
        top: 0;
        transform: translateX(5px);
    }
    10% {
        opacity: 0.4;
        transform: translateX(-5px);
    }
    100% {
        opacity: 0;
        top: 100vh;
    }
}

@media (min-width: 100px) and (max-width: 425px){
    .container {
        grid-auto-flow: row;
    }
    
    .box{
        width: 30vw;
        height: 30vw;
        opacity: 0.35;
    }

    span {
        display: none;
    }
}

